
html{
    background-color: bisque;
}
h1{
font-family: 'Times New Roman', Times, serif;
text-align: center;
background-color: thistle;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
p{
 font-family: 'Times New Roman', Times, serif;
 text-align: center;
}
#h3 {
    display: flex;
    justify-content: space-around;
}

#top {
   display: flex;
   justify-content: space-around;

}

#screenshot {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color:thistle;
}
.afbeelding1 {
    width: 500px;
    height: 300px;
}
.afbeelding2 {
    width: 500px;
    height: 300px;
}
.afbeelding3 {
    width: 500px;
    height: 300px;
}
#afbeelding {
    display: flex;
    justify-content: space-around;
}
#uitleg {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

#reflectie {
    text-align: center;
}
#feedback0 {
   text-align: center;
}
.afbeelding4 {
    width: 600px;
    height: 200px;
}
#feedback2 {
    background-color: thistle;
    font-family: 'Times New Roman', Times, serif;
}
#reflectie0 {
    background-color:thistle;
    font-family: 'Times New Roman', Times, serif;
}

#link {
    background-color: thistle;
}